/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.title {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: white;
}

.title img {
    max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
    height: auto; /* Mantiene la proporción */
}

.name {
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 0;
}

#infoEvento {
    text-align: center;
    margin: 10px 0;
}

.qr-code {
    text-align: center;
    padding: 10px;
}

.qr-code img {
    width: 150px; /* Ancho fijo para el código QR */
    height: auto; /* Mantiene la proporción */
}

.schedule {
    padding: 15px;
}

.schedule h3 {
    text-align: center;
    margin-bottom: 10px;
}

.schedule ol {
    padding-left: 20px;
}

.day, .activity, .time {
    display: block;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #007BFF;
}

.nav-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

.nav-button.active {
    background-color: #004494; /* Color de fondo para el botón activo */
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .nav-button {
        font-size: 0.9rem; /* Tamaño de fuente más pequeño en móviles */
        padding: 8px;
    }

    .title img {
        max-width: 90%; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    }

    .name {
        font-size: 1.3rem; /* Tamaño de fuente más pequeño en móviles */
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .nav-button {
        font-size: 1rem; /* Ajuste de tamaño para tablets */
    }

    .name {
        font-size: 1.4rem; /* Tamaño de fuente intermedio */
    }
}
