body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #444;
    text-align: center;
    padding: 20px;
  }
  
  .container {
    background-color: #e3f2e1; /* Fondo verde claro */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.2);
    max-width: 900px;
    margin: 0 auto;
  }
  
  .title img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .name {
    font-size: 28px;
    font-weight: bold;
    color: #2c662d;
    margin-bottom: 10px;
  }
  
  .qr-code img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 5px solid #2c662d; /* Borde verde oscuro */
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.2); /* Sombra suave */
    margin: 20px auto;
  }
  
  .schedule {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.1);
  }
  
  .schedule ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .schedule li {
    padding: 15px;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
  }
  
  .schedule li:last-child {
    border-bottom: none;
  }
  
  .schedule li .day {
    font-size: 18px;
    color: #2c662d;
    font-weight: bold;
  }
  
  .schedule li .activity {
    font-size: 16px;
    color: #333;
  }
  
  .schedule li .time {
    font-size: 14px;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
    
    .qr-code img {
      width: 200px;
      height: 200px;
    }
    
    .schedule li {
      flex-direction: column;
      text-align: left;
    }
    
    .schedule li .day,
    .schedule li .activity,
    .schedule li .time {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 10px;
    }
    
    .qr-code img {
      width: 150px;
      height: 150px;
    }
    
    .schedule li {
      padding: 10px 0;
    }
    
    .schedule li .day,
    .schedule li .activity,
    .schedule li .time {
      font-size: 12px;
    }
  }
